colors {
    background-color: #fff3d3;
    background-color: #e3f9f6;
    background-color: #29384d;
    background-color: #465265;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: #29384d;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
header {
    padding: 20px;
    width: 100%;
    display: flex;
    text-transform: uppercase;
}
header button {
    margin-left: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background-color: #e3f9f6;
    cursor: pointer;
}
header button:hover{
    background-color: #e3f9f6b4;
}
button img {
    height: 2rem;
    width: 2rem;
}
header h3 {
    font-weight: lighter;
    margin-top: 0;
}
header h1 {
    font-weight: bolder;
    margin-bottom: 0rem;
}

#caixaDePesquisa {
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    border: none;
    font-size: large;
    animation: fadeIn 0.5s ease;
}
#achar {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 2rem;
    padding: 0;
    position: fixed;
    right: 0;
}
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#now {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    text-align: center;
    display: flex;
    background-color: #fff3d3;
    color: #29384d;
}
article {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
section {
    margin: 2rem;
    align-items: center;
}

.jogo {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
}
