colors {
    background-color: #fff3d3;
    background-color: #e3f9f6;
    background-color: #29384d;
    background-color: #465265;
}



.jogo {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
}
